:root {
    --primary-color: steelblue;
    --secondary-color: white;
    --highlight-color: blue;
    --background-color: #f5f4ff;
    --text-color: #000000;
} 

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    background-color: var(--primary-color);
    padding: 1rem;
}

nav a {
    color: var(--secondary-color);
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}

h1 {
    color: var(--highlight-color);
}
main {
    grid-column: 2/3;
    margin: 1rem;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--primary-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
  
}


aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row:  1/2;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #f5f4ff;
    color: #000000;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: 2px solid var(--primary-color);
    text-align: center;
}